<%- include("header") -%> 

<h2>About</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, aut sint. Laborum, quis dolorem excepturi voluptatibus repudiandae magnam modi cumque omnis nobis ratione sint fuga facere. Neque quos maxime quidem?</p>

<%- include("footer") -%> 